html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}

/* http://meyerweb.com/eric/tools/css/reset/
         v2.0 | 20110126
         License: none (public domain)
         CSS reset
      */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
/*article, aside, details, figcaption, figure,
      footer, header, hgroup, menu, nav, section {
          display: block;
      }*/

ol,
ul {
  list-style-type: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  height: 100%;
  margin: 0;
}

body {
  line-height: 1;
  margin: 0;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

html,
body {
  height: 100%;
  margin: 0;
}

/* --------------Color variables----------------- */

:root {
  --text-color-hover-black: black;
  --table-of-content-text-color:#959595;
  --border-color-bottom: white;
  --table-of-content-borders-color:#202020;
  --button-background-color: #f2f2f2;
  --button-hover-color: #d3c5e0;
  --wrapper-background-color:#242424;
  --movie-details-text-color:#F2B705;

}

.wrapper {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: var(--wrapper-background-color) ;
}

/* --------------Table of content style----------------- */

.table-of-content {
  width: 30%;
  font-size: 2.5vw;
  padding: 5px 0;
  border-right: 4px solid var(--table-of-content-borders-color);
  color: var(--table-of-content-text-color);

}

.table-of-content-title {
  display: flex;
  justify-content: center;
  border-bottom: 4px solid var(--table-of-content-borders-color);
  padding-bottom: 10px;
}

.table-of-content-titles-list {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 90%;
  font-size: 2vw;
  margin-left
  color: var(--table-of-content-text-color);
}

.movie {
  list-style-type: none;
}

.movie:hover {
  color: var(--border-color-bottom);
}

/* --------------Movie details style----------------- */

.movie-details {
  background-color: var(--background-blue);
  background-color: #242424;
  position:relative;
  color: var(--table-of-content-text-color);
  color: var(--movie-details-text-color);
  width: 70%;
  font-size: 4vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 100000;
}

.movie-details-title {
    position: relative;
    z-index: 10000;

}

.movie-details-list-container {
    position: relative;
    z-index: 1000;
}

.movie-details-background-img {
    position: absolute;
    top: 0;
    left: 0;
    right:0;
    bottom:0;
    margin:auto;
    opacity: 0.3;
    width:50vw;
    height: auto;
    z-index: 1;

}
.btn-favorite {
  display: flex;
  position: relative;
  z-index: 10;
  margin-top: 10px;
  width: 20%;

}

.remove-add-btn {
  font-size: 2vw;
  background-color: #959595;
  border: 1px solid black;
  color: var(--text-color-hover-black);
  width: 90%;
  border-radius: 20px;
  padding:2px 0;
  margin-right:5px;
}

.remove-add-btn:hover {
  background-color: var(--movie-details-text-color);
}

.favorite-start {
    position: relative;
    z-index:10;
}

.hidden {
  display: none;
}

.show {
  display: flex;
}

/* --------------Responsive section----------------- */

@media (max-width: calc(950 / 16 * 1rem)) {
  /* Tablets */

  .table-of-content-title {
    font-size: 4vw;
  }

  .movie {
    font-size: 4vw;
  }

  .movie-details {
    font-size: 6vw;
  }

  .btn-favorite {
    width: 30%;
  }

  .remove-add-btn {
    font-size: 3vw;
  }
}

@media (max-width: calc(600 / 16 * 1rem)) {
  /* Phones */

  .table-of-content-title {
    font-size: 5vw;
  }

  .movie {
    font-size: 5vw;
  }

  .movie-details {
    font-size: 6vw;
  }

  .btn-favorite {
    width: 50%;
  }

  .remove-add-btn {
    font-size: 3vw;
  }
}

@media (max-width: calc(320 / 16 * 1rem)) {
  /* Iphone SE*/

  .table-of-content-title {
    font-size: 4vw;
  }

  .movie {
    font-size: 4vw;
  }

  .movie-details {
    font-size: 5vw;
  }

  .btn-favorite {
    width: 50%;
  }

  .remove-add-btn {
    font-size: 3vw;
  }
}
